[Unit]
Description=Darkhttpd Webserver

[Service]
EnvironmentFile=/etc/darkhttpd.conf
ExecStart=/usr/sbin/darkhttpd $DARKHTTPD_ROOT --daemon $DARKHTTPD_OPTS
Type=forking

[Install]
WantedBy=multi-user.target
